logger:
  - fatal
  - error
  - warn
  - log

port: 8080

mysql:
  host: db
  port: 3306
  username: appdb
  password: appdb
  database: appdb

sync:
  interval: 10000
  threads: 8
  blockChunk: 100
  blockLimitPerInterval: 50000
  blockSyncStart: 2624950 # sUDT starts from here

  # once `clearInterval` and `confirmations` set, enable automatic CLEAR process,
  # while clearing from db, cached txs will be removed once the `txCacheConfirmations` is set
  clearInterval: 1800000
  confirmations: 100
  txCacheComfirmations: 1000000

  rgbppBtcCodeHash: "0xbc6c568a1a0d0a09f6844dc9d74ddb4343c32143ff25f727c59edf4fb72d6936"
  rgbppBtcHashType: "type"

  rgbppBtcTimelockCodeHash: "0x70d64497a075bd651e98ac030455ea200637ee325a12ad08aff03f1a117e5a62"
  rgbppBtcTimelockHashType: "type"

  udtTypes:
    # sUDT
    - codeHash: "0x5e7a36a77e68eecc013dfa2fe6a23f3b6c344b04005808694ae6dd45eea4cfd5"
      hashType: "type"
      cellDep:
        outPoint:
          txHash: "0xc7813f6a415144643970c2e88e0bb6ca6a8edc5dd7c1022746f628284a9936d5"
          index: 0
        depType: "code"
    # xUDT
    - codeHash: "0x50bd8d6680b8b9cf98b73f3c08faf8b2a21914311954118ad6609be6e78a1b95"
      hashType: "data1"
      cellDep:
        outPoint:
          txHash: "0xf6a5eef65101899db9709c8de1cc28f23c1bee90d857ebe176f6647ef109e20d"
          index: 0
        depType: "code"
    # xUDT Compatible 1
    - codeHash: "0x092c2c4a26ea475a8e860c29cf00502103add677705e2ccd8d6fe5af3caa5ae3"
      hashType: "type"
      cellDep:
        outPoint:
          txHash: "0x3ceb520f240b168e0bddf0d89b4bcabbe7d4fa69751057cbe8e4f27239fad0e9"
          index: 0
        depType: "code"
    # xUDT Compatible 2
    - codeHash: "0x26a33e0815888a4a0614a0b7d09fa951e0993ff21e55905510104a0b1312032b"
      hashType: "type"
      cellDep:
        outPoint:
          txHash: "0x8ec1081bd03e5417bb4467e96f4cec841acdd35924538a35e7547fe320118977"
          index: 0
        depType: "code"
    # xUDT Compatible 3
    - codeHash: "0x42a0b2aacc836c0fc2bbd421a9020de42b8411584190f30be547fdf54214acc3"
      hashType: "type"
      cellDep:
        outPoint:
          txHash: "0x8dae0c83d77b7349f390d967b254e8329177b5c8c0e6da97c4a51efcca958ef5"
          index: 4
        depType: "code"
    # xUDT Compatible 4
    - codeHash: "0xbfa35a9c38a676682b65ade8f02be164d48632281477e36f8dc2f41f79e56bfc"
      hashType: "type"
      cellDep:
        outPoint:
          txHash: "0xf6a5eef65101899db9709c8de1cc28f23c1bee90d857ebe176f6647ef109e20d"
          index: 0
        depType: "code"

  isMainnet: true
  maxConcurrent: 1024
  ckbRpcTimeout: 60000
  ckbRpcUri: wss://mainnet.ckb.dev/ws
  decoderServerUri: http://decoder:8090
  ssriServerUri: http://ssri:9090

  btcRpcs:
    - uri: https://rpc.ankr.com/btc
      # username: username
      # password: password
    - uri: https://bitcoin.publicnode.com
